@*@model List<FeedbackCollection_System.ViewModels.FeedbackManagementVm>*@
@model FeedbackCollection_System.ViewModels.FeedbackPaging
@*@model List<FeedbackCollection_System.Models.Post>*@

@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>


    .displayNone {
        display: none !important;
    }

    .display {
        display: normal !important;
    }

    .PaginDesign {
        margin: 6px;
        font-size: 15px;
    }
</style>


<link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<h2>Index</h2>

<div class="card">

    <div class="card-header card-head-inverse bg-blue  bg-lighten-1">
        <div class="row">
            <div class="col-12">
                <h4 class="card-title text-white">
                    <i class="la la-th-list"></i> Feedback Management
                </h4>
            </div>



        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-sm-6">
                    @if (@ViewBag.UserType == 1)
                    {
                        <div class=" text-white font-weight-bold">
                            <button type="button" class="btn btn-success btn-sm" id="btnPostAdd" style="margin-right:5px;">Add Post</button>
                        </div>
                    }

                </div>

                <div class="col-sm-6">
                    <input class="form-control input-sm" placeholder="Search" id="myInput" />

                </div>
            </div>
        </div>


    </div>

    <div class="table-responsive" style="font-size: 12px;margin-top:10px">
        <input type="hidden" class="form-control input-sm" name="Check" id="Check" value="1" />
        <table class="table table-sm table-bordered table-striped table-hover datatable" style="white-space:nowrap">



            @*create Table Boday*@
            <tbody id="srcBody">
                @foreach (var item in Model.CustomerListPageing)
                {
                    <tr id="@item.PostId" style="background-color:antiquewhite" class="">
                        <td>
                            @Html.DisplayFor(modelItem => item.PostName)
                        </td>

                        <td>
                            @Html.Raw("Admin")
                        </td>

                        <td>
                            @item.CreatedTime
                        </td>
                        <td>
                            @if (@item.Comments.Count > 1)
                            {
                                @item.Comments.Count @Html.Raw(" Comments")
                            }
                            else
                            {
                                @item.Comments.Count @Html.Raw(" Comment")
                            }

                            <a href="#" class="add-comment">Comment</a>
                        </td>
                    </tr>
                    foreach (var pp in item.Comments)
                    {
                        <tr id="@pp.CommentId">
                            <td>
                                @Html.DisplayFor(modelItem => pp.CommmentName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => pp.User.UserName)
                            </td>

                            <td>
                                @pp.CreatedTime
                            </td>
                            <td>
                                <span class="like-Vote" style="color:green"><i class="fas fa-arrow-up"></i> <span id="likeVote_@pp.CommentId"> @pp.Votes.Count(x => x.VoteType == 1) </span> </span>
                                <span class="dislike-Vote" style="color:red;margin-left:5px"><i class="fas fa-arrow-down"></i> <span id="dislikeVote_@pp.CommentId">@pp.Votes.Count(x => x.VoteType == 2) </span> </span>
                            </td>
                        </tr>
                    }
                }
            </tbody>

            @*create Table Boday*@

            @*<tbody id="srcBody">
                    @foreach (var item in Model)
                    {
                        <tr id="@item.Posts.PostId" style="background-color:antiquewhite" class="">
                            <td>
                                @Html.DisplayFor(modelItem => item.Posts.PostName)
                            </td>

                            <td>
                                @Html.Raw("Admin")
                            </td>

                            <td>
                                @item.Posts.CreatedTime
                            </td>
                            <td>
                                @if (@item.Posts.Comments.Count > 1)
                                {
                                    @item.Posts.Comments.Count @Html.Raw(" Comments")
                                }
                                else
                                {
                                    @item.Posts.Comments.Count @Html.Raw(" Comment")
                                }

                                <a href="#" class="add-comment">Comment</a>
                            </td>
                        </tr>

                        foreach (var pp in item.Posts.Comments)
                        {
                            <tr id="@pp.CommentId">
                                <td>
                                    @Html.DisplayFor(modelItem => pp.CommmentName)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => pp.User.UserName)
                                </td>

                                <td>
                                    @pp.CreatedTime
                                </td>
                                <td>
                                    <span class="like-Vote" style="color:green"><i class="fas fa-arrow-up"></i> <span id="likeVote_@pp.CommentId"> @pp.Votes.Count(x => x.VoteType == 1) </span> </span>
                                    <span class="dislike-Vote" style="color:red;margin-left:5px"><i class="fas fa-arrow-down"></i> <span id="dislikeVote_@pp.CommentId">@pp.Votes.Count(x => x.VoteType == 2) </span> </span>
                                </td>
                            </tr>
                        }
                    }
                </tbody>*@
        </table>

        <div id="listpage" style="padding-left: 22px; padding-top: 10px; width: 100%; float: left;">


            @Html.PagedListPager(
                Model.CustomerListPageing,
                page => Url.Action("customerList",
                    new
                    {
                        page,
                        Model.Check

                         }),
                     new PagedListRenderOptions()
                     {
                         LiElementClasses = new List<string> { "PaginDesign" }

                    }),
            new PagedListRenderOptions()
            {
            LiElementClasses = new List<string>
                { "PaginDesign" }

                })

        </div>

    </div>
</div>

<div id="createEventModal" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-info white" style="padding: 8px">
                <h5 style="font-weight: bold" class="modal-title white">Create Post</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>

            </div>
            <div id="modalBody" class="modal-body">

                <div class="form-group">
                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-4" style="font-weight: bold">Post </label>
                            <div class=" col-8">

                                <input type="text" class="form-control input-sm" id="PostName" name="Post" required />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding: 8px">
                <button class="btn btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button type="submit" class="btn btn-success btn-sm" id="submitPostButton">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="createEventAddCommentModal" class="modal fade">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header bg-info white" style="padding: 8px">
                <h5 style="font-weight: bold" class="modal-title white">Create Comment</h5>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span> <span class="sr-only">close</span></button>

            </div>
            <div id="modalBody" class="modal-body">
                <input type="hidden" id="postId" />
                <div class="form-group">
                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-4" style="font-weight: bold">Commnet </label>
                            <div class=" col-8">

                                <input type="text" class="form-control input-sm" id="CommentPostName" name="Post" readonly />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-12">
                        <div class="form-group row">
                            <label class="col-4" style="font-weight: bold">Post </label>
                            <div class=" col-8">

                                <input type="text" class="form-control input-sm" id="CommentName" name="Post" required />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="padding: 8px">
                <button class="btn btn-sm" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button type="submit" class="btn btn-success btn-sm" id="submitCommentButton">Save</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {

    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.22/js/dataTables.jqueryui.min.js"></script>
    <script type="text/javascript">

        //$(document).ready(function () {
        //    $('.datatable').DataTable();
        //});


        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#srcBody tr").filter(function () {
                console.log($(this).text());

                //alert($(this).text().toLowerCase().indexOf(value));
                if ($(this).text().toLowerCase().indexOf(value) > -1) {

                    $(this).addClass("display");
                    $(this).removeClass("displayNone");
                }
                else {


                    $(this).removeClass("display");
                    $(this).addClass("displayNone");
                }


                // $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });

        $('#btnPostAdd').click(function () {

            $('#createEventModal').modal('show');

        });

        $('#submitPostButton').click(function () {

            $('#createEventModal').modal('show');

            $.ajax({
                type: 'Get',
                url: "/FeedBackManagment/CreatePost",
                contentType: "application/json; charset=utf-8",
                data: { "Postname": $('#PostName').val() },
                datatype: 'Json',
                success: function (data) {
                    window.location.href = '/FeedBackManagment/Index';
                }
            });

        });

        $('.add-comment').click(function () {

            $('#createEventAddCommentModal').modal('show');
            var trid = $(this).closest('tr').attr('id');
            let name = $(this).closest('tr').children('td:first').text();
            $("#postId").val(trid);
            $("#CommentPostName").val(name);


        });

        $('#submitCommentButton').click(function () {

            $.ajax({
                type: 'Get',
                url: "/FeedBackManagment/CreateComment",
                contentType: "application/json; charset=utf-8",
                data: { "CommmentName": $('#CommentName').val(), "PostId": $('#postId').val() },
                datatype: 'Json',
                success: function (data) {
                    window.location.href = '/FeedBackManagment/Index';
                }
            });

        });
        $('.like-Vote').click(function () {
            var trid = $(this).closest('tr').attr('id');
            $.ajax({
                type: 'Get',
                url: "/FeedBackManagment/CreateVote",
                contentType: "application/json; charset=utf-8",
                data: { "CommentId": trid, "VoteType": 1 },
                datatype: 'Json',
                success: function (data) {

                    //console.log(data);]

                    $('#likeVote_' + trid).text(data.like);
                    $('#dislikeVote_' + trid).text(data.dislike);

                    // window.location.href = '/FeedBackManagment/Index';
                }
            });

        })

        $('.dislike-Vote').click(function () {
            var trid = $(this).closest('tr').attr('id');
            $.ajax({
                type: 'Get',
                url: "/FeedBackManagment/CreateVote",
                contentType: "application/json; charset=utf-8",
                data: { "CommentId": trid, "VoteType": 2 },
                datatype: 'Json',
                success: function (data) {

                    //console.log(data);


                    $('#likeVote_' + trid).text(data.like);
                    $('#dislikeVote_' + trid).text(data.dislike);

                    //window.location.href = '/FeedBackManagment/Index';
                }
            });
        })


    </script>
}
